<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo icon">Terra</a>
      <div id="header">
        <% unless user_signed_in?%>
        <ul class="access-links ">
          <li><span><%= link_to "Log In", new_user_session_path %></span></li>
          <li><span><%= link_to "Sign up", new_user_registration_path %></span></li>
        </ul>
        <% end %>

        <% if user_signed_in? %>
          <span>Hi <%= current_user.first_name %> </span>
          <ul class="access-links ">
            <li><span><%= link_to "Profile", user_path(current_user) %></span></li>
            <li><span><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span></li>
          </ul>
        <% end %>
    </div>
  </div>
</nav>

<!-- need to create the form in the nav bar

	add footer
 -->
