
<nav>
    <div class="nav-wrapper">
          <a href="/" class="brand-logo icon">Terra</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul  class="right hide-on-med-and-down access-links">
      <% unless user_signed_in?%>
        <li><span><%= link_to "Log In", new_user_session_path %></span></li>
        <li><span><%= link_to "Sign up", new_user_registration_path %></span></li>
      <% end %>

      <% if user_signed_in? %>
          <li><span class="username">Hi <%= current_user.first_name %>! </span></li>
          <li><span><%= link_to "Profile", user_path(current_user) %></span></li>
          <li><span><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span></li>

      <% end %>
          </ul>
      <ul class="side-nav " id="mobile-demo">
        <% unless user_signed_in?%>
          <li><span><%= link_to "Log In", new_user_session_path %></span></li>
          <li><span><%= link_to "Sign up", new_user_registration_path %></span></li>
        <% end %>

        <% if user_signed_in? %>
            <li><span class="username">Hi <%= current_user.first_name %>! </span></li>
            <li><span><%= link_to "Profile", user_path(current_user) %></span></li>
            <li><span><%= link_to "Log Out", destroy_user_session_path, method: :delete %></span></li>
        <% end %>
      </ul>
    </div>
  </nav>
