<!DOCTYPE html>
<html>
    <head>
        <title>Stork</title>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'partials/nav' %>
        <div class="container main-container">
            <p class="notice"><%= notice.html_safe unless notice.blank? %></p>
            <p class="alert"><%= alert.html_safe unless alert.blank? %></p>
            <%= link_to order_items_path do %>
            <i class="material-icons medium shopping-cart cart-icon ">shopping_cart</i>
            <% end  %>
            <%= yield %>
        </div>
        <!-- FOOTER -->
        <div class="page-footer stork-footer">
          <div class="footer-copyright">
            <p> &copy 2017 - Terra </p>
          </div>
        </div>
    </body>

</html>
